body {
  font-family: "Open Sans";
  margin: 0px;
  padding: 0px;
}

a,a:visited {
  color: #5757BF;
}

header {

  padding: 15px;
  margin-bottom: 55px;
  margin-top:55px;
  text-align:center;

  h1 {
    font-size: 3em;
    font-weight:800;
  }
  a,a:visited {
    color: #DCDCDC;
    text-decoration: none;
  }

}

h1 {
  font-size: 2em;
}

h2 {
  color: #464545;
  font-size: 1.3em;
}

p {
  font: 18px/1.6 'Open Sans', sans-serif;
}

article {
  .permalink {
    text-align: right;
  }
}

.content-container {
margin: auto;
  max-width: 650px;

}

.muted {
  color: #969595;
  font-size:0.75em;
}

.signature {
  text-align: right;
}
