header {
  h1 {
    font-size: 3em;
  }
  a,a:visited {
    color: #0090FD;
    text-decoration: none;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  color: #000;
  font-size: 1.5em;
}

.content-container {
margin: auto;
  max-width: 650px;

}

.muted {
  color: #969595;
  font-size:0.75em;
}
